<mat-card class="carta-login" *ngIf="login; else crearUsuario ">
    <form [formGroup]="loginForm" (ngSubmit)="executeImportantAction(loginForm)">
        <div class="example-container" style="color: black;text-align: center;margin-top: 4%;margin-bottom: 20%;">
            <div style="margin-right: 2%;">
                <div>
                    <mat-label style="font-size: 30px;">Login</mat-label>
                </div>
                <div style="margin-top: 2%;">

                    <mat-form-field style="display: contents;" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" class="example-right-align" autocomplete="username" name="usuario" id="usuario"
                            class="form-control" required minlength="5" formControlName="usuario">
                    </mat-form-field>
                    <mat-error *ngIf="isValidInput('usuario',loginForm)">
                        <ng-container *ngFor="let error of errors(loginForm.get('usuario'))">
                          {{ errorMessages[error] }} <br>
                        </ng-container>
                      </mat-error>         
                    <mat-form-field style="display: contents;" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="current-password" name="contrasena" id="contrasena"
                            class="form-control" required minlength="6" formControlName="contrasena">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                   
                    <mat-error *ngIf="isValidInput('contrasena',loginForm)" >
                        <ng-container *ngFor="let error of errors(loginForm.get('contrasena'))">
                          {{ errorMessages[error] }} <br>
                        </ng-container>
                      </mat-error>   

                      <div *ngIf="recaptchaToken === null || recaptchaToken && recaptchaToken.score < 0.5">
                        <recaptcha-v3 ></recaptcha-v3>
                        
                        <re-captcha (resolved)="resolveRecaptcha($event)"  (errored)="errored($event)" errorMode="handled"></re-captcha>
                      </div>
                      <div *ngIf="recaptchaToken && recaptchaToken.score >= 0.5 || tokenv2">
                        <p>reCAPTCHA exitoso</p>
                      </div>
                </div>
            </div>
            <div>
                <a target="_blank" (click)="nuevoUsuario();" style="color: white;margin-right: 15%;">Crear cuenta</a>
                <a   routerLink="/recuperar" style="color: white;">Recuperar Password</a>
            </div>
            <div class="col-md-5 text-right" style="margin-top:5%;">
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid && recaptchaToken && recaptchaToken.score < 0.5">Ingresar</button>
                <button mat-raised-button color="accent" type="button" style="margin-left: 10%;">Salir</button>
            </div>
        </div>
    </form>
</mat-card>
<ng-template #crearUsuario>
    <mat-card class="carta-crearusuario">
        <form [formGroup]="crearCuentaForm" (ngSubmit)="executeImportantActionCrear(crearCuentaForm)">
            <div class="example-container" style="color: black;text-align: center;margin-top: 6%;margin-bottom: 20%;">
                <div style="margin-right: 2%;">
                    <div>
                        <mat-label style="font-size: 30px;">Crear Nuevo Usuario</mat-label>
                    </div>
                    <div style="margin-top: 2%;">

                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" class="example-right-align" name="usuario" id="usuario"
                                class="form-control" required minlength="5" formControlName="usuario">
                                <mat-error *ngIf="isValidInput('usuario',crearCuentaForm)">
                                    <ng-container *ngFor="let error of errors(crearCuentaForm.get('usuario'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>
                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput type="text" class="example-right-align" name="nombre_completo"
                                id="nombre_completo" class="form-control" required minlength="5"
                                formControlName="nombre_completo">
                                <mat-error *ngIf="isValidInput('nombre_completo',crearCuentaForm)">
                                    <ng-container *ngFor="let error of errors(crearCuentaForm.get('nombre_completo'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>

                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Correo</mat-label>
                            <input matInput type="email" class="example-right-align" name="correo" id="correo"
                                class="form-control" required minlength="5" formControlName="correo">
                                <mat-error *ngIf="isValidInput('correo',crearCuentaForm)">
                                    <ng-container *ngFor="let error of errors(crearCuentaForm.get('correo'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>

                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" name="contrasena" id="contrasena" class="form-control"
                                required minlength="6" formControlName="contrasena">
                                <mat-error *ngIf="isValidInput('contrasena',crearCuentaForm)">
                                    <ng-container *ngFor="let error of errors(crearCuentaForm.get('contrasena'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>
                       
                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Repita Contraseña</mat-label>
                            <input matInput type="password" name="contrasenaRepetir" id="contrasenaRepetir"
                                class="form-control" required minlength="6" formControlName="contrasenaRepetir">
                                <mat-error *ngIf="isValidInput('contrasenaRepetir',crearCuentaForm)">
                                    <ng-container *ngFor="let error of errors(crearCuentaForm.get('contrasenaRepetir'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>
                        <div *ngIf="recaptchaToken === null || recaptchaToken && recaptchaToken.score < 0.5">
                            <recaptcha-v3 ></recaptcha-v3>
                            
                            <re-captcha (resolved)="resolveRecaptcha($event)"  (errored)="errored($event)" errorMode="handled"></re-captcha>
                          </div>
                          <div *ngIf="recaptchaToken && recaptchaToken.score >= 0.5 || tokenv2">
                            <p>reCAPTCHA exitoso</p>
                          </div>
                </div>
                </div>
                <div class="col-md-5 text-right" style="margin-top:5%;">
                    <button mat-raised-button color="primary" [disabled]="!crearCuentaForm.valid && recaptchaToken && recaptchaToken.score < 0.5">Crear Usuario</button>
                    <button mat-raised-button color="accent" type="button" (click)="volver();"
                        style="margin-left: 10%;">Volver</button>
                </div>
            </div>
        </form>
    </mat-card>
</ng-template>