<mat-card class="carta-mantenedor">

    <mat-form-field>
        <mat-label>Buscador</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar registro" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pais </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Capital </th>
            <td mat-cell *matCellDef="let element"> {{element.capital}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
            <td mat-cell *matCellDef="let element"> {{element.region}} </td>
        </ng-container>

        <ng-container matColumnDef="population">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Población</th>
            <td mat-cell *matCellDef="let element"> {{element.population}} </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
       
    </table>
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
     <div class="col-md-5 text-right" style="margin-top:1%;margin-left: 2%;">
            <button mat-raised-button style="margin-right: 2%;" color="primary" (click)="IngresarPais();">Ingresar Nuevo Pais</button>
            <button mat-raised-button style="margin-right: 2%;" color="accent" [disabled]="selection.selected.length == 0 || selection.selected.length > 1" (click)="ModificarPais();">Modificar Pais</button>
            <button mat-raised-button color="warn" [disabled]="selection.selected.length == 0 || selection.selected.length > 1" (click)="EliminarPais();">Eliminar Pais</button>
    
        </div>
</mat-card>