 <h1>Editar Pais</h1>
    <form [formGroup]="editarPaisFormGroup" (ngSubmit)="editarPais()" class="example-form">
        <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Nombre Pais</mat-label>
            <input formControlName="nombre_pais" matInput >
          
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%; margin-left: 3%;">
            <mat-label>Capital</mat-label>
            <input formControlName="capital"  matInput>
           
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%; ">
            <mat-label>Region</mat-label>
            <input formControlName="region"  matInput>
       
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%;margin-left: 3%;">
            <mat-label>Poblacion</mat-label>
            <input formControlName="poblacion"  matInput>
       
          </mat-form-field>
          <button style="width: 10%;margin-left: 2%;" [disabled]="!editarPaisFormGroup.valid" mat-raised-button color="primary">Guardar</button>
    
    </form>
