<mat-card [ngClass]="{'carta-login': '1' === paso, 'carta-crearusuario' : '2' === paso || '3' === paso}" [ngSwitch]="paso">
  <ng-template [ngSwitchCase]="'1'">
    <form [formGroup]="recoverForm" (ngSubmit)="executeImportantActionUser(recoverForm)">
        <div class="example-container" style="color: black;text-align: center;margin-top: 4%;margin-bottom: 20%;">
            <div style="margin-right: 2%;">
                <div>
                    <mat-label style="font-size: 30px;">Ingrese usuario para enviar código</mat-label>
                </div>
                <div style="margin-top: 2%;">

                    <mat-form-field style="display: contents;" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" class="example-right-align" autocomplete="username" name="usuario" id="usuario"
                            class="form-control" required minlength="5" formControlName="usuario">
                    </mat-form-field>
                    <mat-error *ngIf="isValidInput('usuario',recoverForm)">
                        <ng-container *ngFor="let error of errors(recoverForm.get('usuario'))">
                          {{ errorMessages[error] }} <br>
                        </ng-container>
                      </mat-error>         
                   
                    <mat-error *ngIf="isValidInput('contrasena',recoverForm)" >
                        <ng-container *ngFor="let error of errors(recoverForm.get('contrasena'))">
                          {{ errorMessages[error] }} <br>
                        </ng-container>
                      </mat-error>   

                      <div *ngIf="recaptchaToken1 === null || recaptchaToken1 && recaptchaToken1.score < 0.5">
                        <recaptcha-v3 ></recaptcha-v3>
                        
                        <re-captcha (resolved)="resolveRecaptcha1($event)"  (errored)="errored($event)" errorMode="handled"></re-captcha>
                      </div>
                      <div *ngIf="recaptchaToken1 && recaptchaToken1.score >= 0.5 || tokenv2_1">
                        <p>reCAPTCHA exitoso</p>
                      </div>
                </div>
            </div>
            <div class="col-md-5 text-right" style="margin-top:5%;">
                <button mat-raised-button color="primary" [disabled]="!recoverForm.valid && recaptchaToken1 && recaptchaToken1.score < 0.5">Enviar Código</button>
                <button mat-raised-button color="accent" type="button" (click)="volver();" style="margin-left: 10%;">Volver</button>
            </div>
        </div>
    </form>
  </ng-template>

<ng-template [ngSwitchCase]="'2'">
        <form [formGroup]="codigoRecuperarForm" (ngSubmit)="executeImportantActionCodigo(codigoRecuperarForm)">
            <div class="example-container" style="color: black;text-align: center;margin-top: 6%;margin-bottom: 20%;">
                <div style="margin-right: 2%;">
                    <div>
                        <mat-label style="font-size: 30px;">Ingrese código enviado a su correo</mat-label>
                    </div>
                    <div style="margin-top: 2%;">

                        <mat-form-field style="display: contents;" appearance="fill">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" class="example-right-align" name="codigo" id="codigo"
                                class="form-control" required minlength="5" formControlName="codigo">
                                <mat-error *ngIf="isValidInput('codigo',codigoRecuperarForm)">
                                    <ng-container *ngFor="let error of errors(codigoRecuperarForm.get('codigo'))">
                                      {{ errorMessages[error] }} <br>
                                    </ng-container>
                                  </mat-error>
                        </mat-form-field>
                       
                        <div *ngIf="recaptchaToken2 === null || recaptchaToken2 && recaptchaToken2.score < 0.5">
                            <recaptcha-v3 ></recaptcha-v3>
                            
                            <re-captcha (resolved)="resolveRecaptcha2($event)"  (errored)="errored($event)" errorMode="handled"></re-captcha>
                          </div>
                          <div *ngIf="recaptchaToken2 && recaptchaToken2.score >= 0.5 || tokenv2_2">
                            <p>reCAPTCHA exitoso</p>
                          </div>
                </div>
                </div>
                <div class="col-md-5 text-right" style="margin-top:5%;">
                    <button mat-raised-button color="primary" [disabled]="!codigoRecuperarForm.valid && recaptchaToken2 && recaptchaToken2.score < 0.5">Crear Usuario</button>
                    <button mat-raised-button color="accent" type="button" (click)="volver();"
                        style="margin-left: 10%;">Volver</button>
                </div>
            </div>
        </form>
        </ng-template>

      <ng-template [ngSwitchCase]="'3'">
      <form [formGroup]="newPasswordForm" (ngSubmit)="executeImportantActionRecuperar(newPasswordForm)">
          <div class="example-container" style="color: black;text-align: center;margin-top: 6%;margin-bottom: 20%;">
              <div style="margin-right: 2%;">
                  <div>
                      <mat-label style="font-size: 30px;">Ingrese nueva contraseña</mat-label>
                  </div>
                  <div style="margin-top: 2%;">

                    <mat-form-field style="display: contents;" appearance="fill">
                      <mat-label>Contraseña</mat-label>
                      <input matInput type="password" name="contrasena" id="contrasena" class="form-control"
                          required minlength="6" formControlName="contrasena">
                          <mat-error *ngIf="isValidInput('contrasena',newPasswordForm)">
                              <ng-container *ngFor="let error of errors(newPasswordForm.get('contrasena'))">
                                {{ errorMessages[error] }} <br>
                              </ng-container>
                            </mat-error>
                  </mat-form-field>
                 
                  <mat-form-field style="display: contents;" appearance="fill">
                      <mat-label>Repita Contraseña</mat-label>
                      <input matInput type="password" name="contrasenaRepetir" id="contrasenaRepetir"
                          class="form-control" required minlength="6" formControlName="contrasenaRepetir">
                          <mat-error *ngIf="isValidInput('contrasenaRepetir',newPasswordForm)">
                              <ng-container *ngFor="let error of errors(newPasswordForm.get('contrasenaRepetir'))">
                                {{ errorMessages[error] }} <br>
                              </ng-container>
                            </mat-error>
                  </mat-form-field>
                     
                      <div *ngIf="recaptchaToken3 === null || recaptchaToken3 && recaptchaToken3.score < 0.5">
                          <recaptcha-v3 ></recaptcha-v3>
                          
                          <re-captcha (resolved)="resolveRecaptcha3($event)"  (errored)="errored($event)" errorMode="handled"></re-captcha>
                        </div>
                        <div *ngIf="recaptchaToken3 && recaptchaToken3.score >= 0.5 || tokenv2_3">
                          <p>reCAPTCHA exitoso</p>
                        </div>
              </div>
              </div>
              <div class="col-md-5 text-right" style="margin-top:5%;">
                  <button mat-raised-button color="primary" [disabled]="!newPasswordForm.valid && recaptchaToken3 && recaptchaToken3.score < 0.5">Crear Usuario</button>
                  <button mat-raised-button color="accent" type="button" (click)="volver();"
                      style="margin-left: 10%;">Volver</button>
              </div>
          </div>
      </form>
</ng-template>
</mat-card>